.notification {
    border: 1px solid;
    border-radius: 14px;
    width: 290px;
    display: flex;
    margin: auto;
    background-color: black;
}
.information {
    font-size: 16px;
    margin: auto;
    color: white;
    padding: 8px;
}
.click {
    border-radius: 15px;
    width: 62px;
    font-size: 12px;
    border: none;
    height: 28px;
    margin: auto;
}
