.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    // background-color: var(--white-200);
    background-color: var(--color-header);
    &.dark {
        background-color: var(--black);
        box-shadow: var(--box-shadow-dark);
    }
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-left {
    display: flex;
    justify-content: center;
    align-items: center;
}
//Logo
.logo-link {
    display: flex;
    margin-right: 10px;
}

// category
.category {
    padding: 0 0.6vw;
    font-size: 1vw;
    font-weight: 700;
    line-height: 2vw;
    background-color: transparent;
}

// Actions
.actions {
    display: flex;
    align-items: center;
}

.action {
    width: 48px;
    height: 48px;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    display: block;
    fill: currentColor;
    stroke-width: 0;
    color: #5f5f5f;

    &:hover {
        background-color: rgba(22, 24, 35, 0.06);
    }

    &.dark {
        color: #dbdada;
        &:hover {
            background-color: #656565;
        }
    }
}
.logo {
    color: var(--color-red);
    fill: currentColor;
    &.dark {
        color: var(--color-red-100);
    }
}
.nav-menu {
    & > a {
        background-color: var(--color-header);
    }
}

.link-avatar {
    height: 48px;
}
.btnLogin {
    margin-left: 8px;
}
.more-btn {
    font-size: 1.8rem;
    padding: 4px 8px;
    background-color: transparent;
    color: #5f5f5f;
    cursor: pointer;
    &.dark {
        color: #dbdada;
    }
}

.action-btn {
    font-size: 2.2rem;
    color: #161823;
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;
}

.user-avatar {
    object-fit: cover; //ảnh giữ được tỷ lệ, tràn hình tròn của border radius
    cursor: pointer;
}
.search-component {
    margin: 0 30px 30px 30px;
}
