.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--color-header);
    &.dark {
        background-color: var(--black);
    }
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

//Logo
.logo-link {
    display: flex;
}
.name {
    color: var(--color-red-hover);
    font-size: 20px;
    font-weight: 600;
    margin-left: 8px;
    &.dark {
        color: var(--color-red-100);
    }
}
// Actions
.actions {
    display: flex;
    align-items: center;
}
.signUpBtn {
    margin-left: 8px;
    &.dark {
        color: var(--black);
    }
}

// ICON
.GjR {
    color: var(--color-red-hover);
    &.dark {
        color: var(--color-red-100);
    }
}

.kVc {
    display: block;
}

.gUZ {
    fill: currentColor;
    stroke-width: 0;
    vertical-align: middle;
}

.ztu {
    color: #5f5f5f;
}


@media screen and (max-width : 768px) {
    .wrapper {
        justify-content: space-between;
    }
}