.wrapper {
    display: flex;
    flex-direction: column; //quay theo chiều dọc
    align-items: center;
    margin: 0 6px;
}

.container {
    width: 100%;
    // padding: 0 var(--default-layout-horizontal-spacer);
    margin-top: calc(var(--default-layout-header-height));
    display: flex;
}

.content {
    flex: 1;
    margin-right: 0;
}
