.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover; //ảnh giữ được tỷ lệ, tràn hình tròn của border radius
}

.info {
    flex: 1; //tràn hết phần content
    margin-left: 12px;
}

.name {
    font-size: 14px;
    font-weight: 500;
}

.check {
    margin-left: 6px;
    color: rgb(32, 213, 236);
}

.username {
    font-size: 14px;
    color: rgba(22, 24, 35, 0.5);
}
